body {
    background-color: #e6e8e6;
    font-family: Montserrat, sans-serif;
    color: rgb(80, 79, 82);
}

header {
    border-radius: 6px;
    border: 6px groove #3C096C;
}

h1 {
    font-family: 'Grenze Gotisch', fantasy;
    text-align: center;
    font-size: 4em;
    color: #10002b;
    font-weight: 700;
}

.links-header {
    text-align: center;
    color: black;
}

a {
    color: black;
    font-family: 'Montserrat', sans-serif;
}

#foto-perfil {
    width: 150px;
    border-radius: 50%;
    position: relative;
}

h2 {
    font-family: 'Grenze Gotisch', fantasy;
    font-weight: 400;
}

p, li {
    font-family: monospace;
}

ul {
    list-style-type: square;
}

.aboutme {
    display: inline-block;
    width: 30%;
    margin: 30px;
    padding: 35px;
}

.image-box {
    display: inline-block;
    width: 10%;
    margin: 30px;
    padding: 35px;
}

.habilidades {
    display: inline-block;
    width: 30%;
    margin: 30px;
    padding: 35px;
}